h1 {
  color: gray;
  font-size: 1.5em;
  margin-bottom: 1em;
}

#header {
  margin: 2em;
  width: 90%;
}

a {
  text-decoration: none;
}

nav a {
  color: green;
}

nav {
  padding-bottom: 0.5em;
  border-bottom: solid 1px #DDDDDD;  
}

.main {
  margin-left: 2em;
  width: 90%;
}

h2 {
  margin-bottom: 1em;
  font-size: 1.2em;
}

.categories li {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: solid 1px #DDDDDD;
}

label {
  display: block;
}

#flash {
  display: none;
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 1em;
  font-weight: bold;
  color: #FFF;
  background-color: #444;
  background-color: rgba(0,0,0,0.7);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}