<form action="#/users" method="post">
  <p>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="required email" />
  </p>

  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="required" />
  </p>
  <p>
    <label for="password_confirmation">Confirm Password</label>
    <input type="password" name="password_confirmation" id="password_confirmation" class="required" />
  </p>
  
  <p>
    <input type="submit" value="Register" />
  </p>
  <p class="warning"></p>
</form>