<h2>Change Password</h2>

<form action="#/account/password" method="put">
  <p>
    <label for="old_password">Old Password</label>
    <input type="password" class="required" id="old_password" name="old_password"/>
  </p>
  
  <p>
    <label for="new_password">New Password</label>
    <input type="password" class="required" id="new_password" name="new_password"/>
  </p>
  
  <p>
    <label for="password_confirmation">Confirm Password</label>
    <input type="password" class="required" id="password_confirmation" name="password_confirmation"/>
  </p>
  
  <p>
    <input type="submit" value="Change Password"/>
  </p>
  
</form>