<h3>{{?keyboard_shortcuts}}</h2>

<ul class="info">
  <li><span>p</span> {{?products}}</li>
  <li><span>c</span> {{?categories}}</li>
  <li><span>a</span> {{?add_product_or_category}}</li>
  <li><span>esc</span> {{?cancel}}</li>
  <li><span>ctrl+enter</span> {{?send_form}}</li>
  <li><span>d</span> Deutsch</li>
  <li><span>e</span> English</li>
  <li><span>l</span> {{?logout}}</li>
</ul>

<ul class="info">
  <li><span>1..9</span> {{?go_to_page}}</li>
  <li><span>ctrl+{{?left_arrow}}</span> {{?go_to_next_page}}</li>
  <li><span>ctrl+{{?right_arrow}}</span> {{?go_to_previous_page}}</li>
  <li><span>ctrl+home</span> {{?go_to_first_page}}</li>
  <li><span>ctrl+end</span> {{?go_to_last_page}}</li>
</ul>