<div class="delivery_time">
  <h2>Date<br/>Time</h2>
  <p class="date_select">
    <select name="date" class="date">
      {{#dates}}
        <option>{{date}}</option>
      {{/dates}}
    </select>
  </p>
  

  <p>
    <select name="time" class="time" id="time">
      {{#times}}
        <option>{{time}}</option>
      {{/times}}
    </select>
    <select name="ampm" class="ampm" id="ampm">
      <option>am</option>
      <option>pm</option>
    </select>
  </p>
</div>