<h2>{{?products}}</h2>

<nav class="product_nav">
  <ul>
    <li>
      <a href="#/products/new" class="button" data-key="a">
        <div class="underline">{{?add_product}}</div>
      </a>
    </li>
  </ul>
</nav>

<table class="products_table">
  <thead>
    <tr>
      <th>{{?name}}</th>
      <th>{{?description}}</th>
      <th>{{?price}}</th>
      <th>{{?valid_to}}</th>
      <th>{{?category}}</th>
      <th>{{?actions}}</th>
    </tr>
  </thead>
  <tbody>
    {{#products}}
      <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{unit_price}}</td>
        <td>{{valid_to}}</td>
        <td>{{#category}}{{name}}{{/category}}</td>
        <td class="actions">
          {{#id}}
            <a href="#/products/{{id}}/edit" class="button" title="Edit {{name}}">{{?edit}}</a>
            <form method="delete" action="#/products/{{id}}" class="delete_form">
              <input type="hidden" name="name" value="{{name}}" />
              <input type="submit" value="{{?remove}}" />
            </form>
          {{/id}}
        </td>
      </tr>
    {{/products}}
  </tbody>
</table>