<h2>Products</h2>

<nav class="product_nav">
  <ul>
    <li><a href="#/products/new">Add Product</a></li>
  </ul>
</nav>

<table class="products">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Valid To</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#products}}
      <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{unit_price}}</td>
        <td>{{valid_to}}</td>
        <td>{{#category}}{{name}}{{/category}}</td>
        <td>
          <a href="#/products/{{id}}/edit">edit</a>
          <form method="delete" action="#/products/{{id}}">
            <input type="hidden" name="name" value="{{name}}" />
            <input type="submit" value="delete" />
          </form>
        </td>
      </tr>
    {{/products}}
  </tbody>
</table>