<h2>New Product</h2>

<form method="POST" action="#/products">
  <p>
    <label for="product_name">Name</label>
    <input type="text" name="product[name]" id="product_name" class="text" />
  </p>

  <p>
    <label for="product_description">Description</label>
    <textarea name="product[description]" id="product_description"></textarea>
  </p>
  
  <p>
    <label for="product_unit_price">Unit Price</label>
    <input type="text" name="product[unit_price]" id="product_unit_price" class="text" />
  </p>

  <p class="text">
    <label for="product_valid_to">Valid To</label>
    <input type="text" name="product[valid_to]" id="product_valid_to" class="datepicker" />
  </p>

  <p>
    <label for="product_category_id">Category</label>
    <select id="product_category_id" name="product[category_id]">
      {{#categories}}
        <option value="{{id}}">{{name}}</option>
      {{/categories}}
    </select>
  </p>  
  
  <p>
    <input type="submit" value="Add Product" />
    <input type="submit" value="Cancel" class="cancel" />
  </p>
</form>