<h2>{{?queue}}</h2>

<ul class="cached_actions_list">
  {{#cached_actions}}
    <li>
      <strong>{{humanReadableSummary}}</strong><br />
      {{humanReadableAttributes}}
    </li>
  {{/cached_actions}}
</ul>