<h2>{{?edit_category}}</h2>

{{#object}}
  <form method="PUT" action="#/categories/{{id}}">
    <p>
      <label for="name">{{?name}}</label>
      <input type="text" name="name" id="name" value="{{name}}" class="text store_change" />
    </p>

    <p>
      <label for="description">{{?description}}</label>
      <textarea name="description" id="description" class="store_change">{{description}}</textarea>
    </p>
  
    <p>
      <input type="submit" value="{{?update_category}}" data-key="enter" data-ctrl-key="true" class="update" />
      <input type="submit" value="{{?cancel}}" class="cancel" data-key="esc" />
    </p>
  </form>
{{/object}}