<h2 class="marker">{{?categories}}</h2>

<nav class="category_nav">
  <ul>
    <li>
      <a href="#/categories/new" class="button" data-key="a">
        <div class="underline">{{?add_category}}</div>
      </a>
    </li>
  </ul>
</nav>

<table class="categories_table">
  <thead>
    <tr>
      <th class="name_column">
        <a data-link="#/categories?sort=name" href="#/categories?sort=name">{{?name}}</a>
      </th>
      <th class="description_column">
        <a data-link="#/categories?sort=description" href="#/categories?sort=description">{{?description}}</a>
      </th>
      <th>{{?actions}}</th>
    </tr>
  </thead>
  {{#categories}}
    <tr>
      <td class="name_column">{{name}}</td>
      <td class="description_column">{{description}}</td>
      <td class="actions">
        {{#id}}
          <a href="#/categories/{{id}}/edit" class="button" title="Edit {{name}}">{{?edit}}</a>
          <form method="delete" action="#/categories/{{id}}" class="delete_form">
            <input type="hidden" name="name" value="{{name}}" />
            <input type="submit" value="{{?remove}}" title="Delete {{name}}" />
          </form>
        {{/id}}
      </td>
    </tr>
  {{/categories}}  
</table>