<h2>Categories</h2>

<nav class="category_nav">
  <ul>
    <li><a href="#/categories/new">Add Category</a></li>
  </ul>
</nav>

<ul class="categories">
  {{#categories}}
    <li>
      <h3>{{name}}</h3>
      <p>{{description}}</p>
      <div class="actions">
        <a href="#/categories/{{id}}/edit">edit</a>
        <form method="delete" action="#/categories/{{id}}">
          <input type="hidden" name="name" value="{{name}}" />
          <input type="submit" value="delete" />
        </form>        
      </div>
    </li>
  {{/categories}}  
</ul>