<h2>{{?new_category}}</h2>

<form method="POST" action="#/categories">
  <p>
    <label for="name">{{?name}}</label>
    <input type="text" name="name" id="name" class="text store_change" value="{{name}}" />
  </p>

  <p>
    <label for="description">{{?description}}</label>
    <textarea name="description" id="description" class="store_change">{{description}}</textarea>
  </p>
  
  <p>
    <input type="submit" value="{{?add_category}}" class="underline add" data-key="enter" data-ctrl-key="true" />
    <input type="submit" value="{{?cancel}}" class="cancel" data-key="esc" />
  </p>
</form>