<h2>New Category</h2>

<form method="POST" action="#/categories">
  <p>
    <label for="category_name">Name</label>
    <input type="text" name="category[name]" id="category_name" class="text" />
  </p>

  <p>
    <label for="category_description">Description</label>
    <textarea name="category[description]" id="category_description"></textarea>
  </p>
  
  <p>
    <input type="submit" value="Add Category" />
  </p>
</form>